<!DOCTYPE html>
<html lang=en>

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main class="container">
        <h3>Attendance overview</h3>
        <table class="striped">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>E-mail</th>
                    <th>Key</th>
                    <th>Present</th>
                </tr>
            </thead>

            <tbody>
                <% students.forEach(student => { %>
                <tr>
                    <td><%= student.user.firstName %></td>
                    <td><%= student.user.lastName %></td>
                    <td><%= student.user.email %></td>
                    <td><%= student.value %></td>
                    <% if (student.present) { %>
                    <td>&#10004</td>
                    <% } else { %>
                    <td>&#10005</td>
                    <% } %>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </main>

    <%- include('../partials/footer'); %>
</body>

</html>