<!DOCTYPE html>
<html lang=en>

<head>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>

<body>
    <main class="container">
        <h3>Classes</h3>
        <table class="striped">
            <thead>
                <tr>
                    <th>Start</th>
                    <th>End</th>
                    <th>#</th>
                    <th>Key</th>
                </tr>
            </thead>

            <tbody>
                <% classes.forEach(selectedClass => { %>
                <tr>
                    <td><%= selectedClass.start %></td>
                    <td><%= selectedClass.end %></td>
                    <td><%= selectedClass.numberOfClass %></td>
                    <td><a href="/classes/<%= selectedClass.id %>/key"></a></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </main>

    <%- include('../partials/footer'); %>
</body>

</html>